*.userprefs
*.suo
*.user
*.pdb
*.pidb
*.exe
*.pdb
*.dll
*.manifest
.cache

/packages
!.nuget/nuget.exe

/Alias/bin
/Alias/obj
/Channel/bin
/Channel/obj
/Core/bin
/Core/obj
/Google/bin
/Google/obj
/List/bin
/List/obj
/Plugin/bin
/Plugin/obj